.movie {
  padding: 20px;
}

.movie__year,
.movie__title {
  margin: 5px 0px;
}

.movie__summary {
  font-size: 12px;
  line-height: 1.5;
}

ul,
li {
  all: unset;
  display: flex;
  font-size: 12px;
  color: darkslateblue;
}

.movie img {
  position: relative;
  top: -40px;
  width: 180px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
